<header class="header">
  <a class="nav-logo" href="/">
    <img src="../img/logo.png" alt="MoviePitch"/>
  </a>
  <nav class="main-nav">
    <a href="/team">Our Team</a>
    <a href="/how-it-works">How It Works</a>
    <a href="/success-stories">Success Stories</a>
    <a href="/faq">FAQ</a>
    <a href="/submit-pitch">Start Pitching</a>
    <a href="/login">Login</a>
  </nav>
</header>
