<div class="header">
  <a class="nav-logo" ui-sref="index">
    <img src="../img/logo.png" alt="MoviePitch"/>
  </a>
  <button class="menu-toggle" aria-label="menu toggle" ng-click="toggleMenu()"><i class="icon-menu"></i></button>
</div>
<nav class="main-nav {{menuToggleStatus}}" aria-label="Main Nav" role="menubar">
  <a ui-sref="faq" role="menuitem">FAQ</a>
  <a ui-sref="legal" role="menuitem">Legal</a>
  <a ui-sref="press" role="menuitem">Press</a>
  <a ui-sref="contact-us" role="menuitem">Contact Us</a>
  <!-- <a href="#how-it-works" role="menuitem">How It Works</a>
  <a href="#our-team" role="menuitem">Our Team</a>
  <a href="#success-stories" role="menuitem">Success Stories</a>
  <a id="nav-login" class="{{currentLogAction}}" role="menuitem" ng-click="openLoginModal()">Log In</a>
  <a ui-sref="my-account" id="my-account" class="{{currentLogAction}}" role="menuitem">My Account</a>
  <a id="nav-logout" class="{{currentLogAction}}" role="menuitem" ng-click="logoutUser()">Log Out</a> -->
</nav>
