<div class="header">
  <a class="nav-logo" ui-sref="index">
    <img src="../img/logo.png" alt="MoviePitch"/>
  </a>
  <button class="menu-toggle" aria-label="menu toggle" ng-click="toggleMenu()"><i class="icon-menu"></i></button>
</div>
<nav class="main-nav {{menuToggleStatus}}" aria-label="Main Nav" role="menubar">
  <a ui-sref="our-team" role="menuitem">Our Team</a>
  <!-- <a ui-sref="how-it-works" role="menuitem">How It Works</a> -->
  <a ui-sref="success-stories" role="menuitem">Success Stories</a>
  <a ui-sref="submit-pitch" role="menuitem">Submit a Pitch</a>
  <a id="nav-login" class="{{currentLogAction}}" role="menuitem" data-toggle="modal" href="#login-modal">Log In</a>
  <a id="nav-logout" class="{{currentLogAction}}" role="menuitem" ng-click="logoutUser()">Log Out</a>
</nav>
