{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "$": true,
    "angular": true,
    "moviePitchApp": true
  },
  "rules": {
    "no-underscore-dangle": [0]
  }
}
