<header class="header" app-header></header>
<section class="section section--regular">
  <div class="section-content">
    <h2 class="heading-title">Frequently Asked Questions</h2>
    <dt class="heading-subtitle">How do you come up with ideas? Where should I look for ideas? What tools or tricks do you recommend for coming up with ideas? </dt>
    <dd>
        <p>The best way to find ideas is to read as much as possible, from online sources to magazines, newspapers, books, etc. There are literally thousands of new ideas every day that can be found this way. </p>

        <p>Of course, you can also just simply use your own imagination and pitch us any ideas you dream up, that you'd like us to consider. </p>

        <p>Many people come up with ideas by watching old and new movies, and finding new ways to tell similar stories. </p>

        <p>Always pay attention to what's happening in the news and current events. Noticing trends in the culture can lead you to good ideas. Watching all the talk shows on TV will also keep you in touch with the subjects everyone's talking about. </p>

        <p>Also consider "going back in time" by reviewing true stories from history. Hollywood is always looking for great, true stories that have not been previously told. </p>

        <p>Think about different subjects, such as fantasy, fairy tales, mysteries, thrillers, comedies, romantic comedies, horror stories, religious/faith-based stories, sports-themed stories, etc. These are subjects that Hollywood is always interested in pursuing. </p>

        <p>Many Hollywood films are based on famous "brands" so keep your eye out for brands that may not have been exploited by Hollywood. </p>

        <p>Hollywood is always for "socially conscious" subject matter. The sort of ideas that can lead to prestige, award-winning movies. Often, these are based on true stories.</p>
    </dd>

    <dt class="heading-subtitle">What are the elements of a pitch?</dt>
    <dd>
        <p>A good pitch should start with a very simple "high-concept" idea, which means expressing your original idea in one or two sentences, which can be understood by all. In other words, keep your idea simple and not complicated. </p>

        <p>It's important to summarize the basic plot of your story. Explain the basic set-up, i.e. who is your main character, and then explain what conflict your main character must face. (This should still be done in only a few sentences.)</p>

        <p>If you have a good title, that always helps. But the key is to find an original idea that has not been already told many, many times.</p>

        <p>Please keep in mind that the idea itself must revolve around a "fascinating" subject.</p>

        It's important to always state "the inciting action" (in other words, what event puts the plot in motion?)</p>

        <p>High-concept ideas almost always have a unique "hook." Ask yourself what is the one specific idea in your concept that is clever, different and unusual. Your goal is to make your pitch as unique as possible.</p>

        <p>Keep in mind you're trying to summarize your story, so stick to the basic plot and avoid unnecessary details.</p>

        <p>A good pitch will tell us what's at stake for the main character. </p>

        <p>And, of course, always try to have a conclusion. In other words, try to resolve your plot by telling us how your story ends.</p>
    </dd>

    <dt class="heading-subtitle">How do I know if I have a good idea?</dt>
    <dd>
        <p>You never know for sure how good your idea is. All kinds of ideas can sell to Hollywood, so the best thing to do is just take a chance and submit any idea you like. Of course, you can always "test" your idea by discussing it with your friends and family, to see if they find your idea or story both interesting and original.</p>

        <p>Also make sure to watch as many movies and TV shows as you can, which will help you understand if your idea is fresh and original. (And not already being done by someone else.)</p>
    </dd>

    <dt class="heading-subtitle">How do you get your idea in front of the right people?</dt>
    <dd>
        <p>This is a very important question, and this is exactly where Moviepitch.com can be most helpful. We have access to all the studios, almost all the major production companies, agents, managers and talent. These are the people you would want to know about your pitch, and if we like your idea, these are the same people we will approach. </p>

        <p>We see Moviepitch.com as your "Bridge to Hollywood." We can definitely get your idea to all the right people, i.e. the people who buy and produce movies and TV.</p>
    </dd>

    <dt class="heading-subtitle">What is the total process from pitch to movie/show creation?</dt>
    <dd>
        <p>Though Hollywood sometimes moves slowly... we can help speed up the process. Once we receive a pitch we decide to move forward with, you will be notified. Then, we approach all of our best contacts who will be most receptive to (and most likely to buy) your pitch.</p>

        <p>Once we have identified a buyer that wants to purchase your pitch, a negotiation begins, and ultimately you and the buyer will agree to a purchase price. Then, your project begins what is known as "active development."</p>

        <p>Of course, a writer will be hired to do the script, and sometimes within a 3-month period, a script will be completed. Ultimately, all scripts must attract a director and talent, and sometimes a script can go into production within a year.</p>

        <p>But you will have a written contract before any of this happens that will guarantee you exactly what compensation and credit you will receive, if and when your story is produced. You will always have full legal protection, throughout the entire process. </p>
    </dd>

    <dt class="heading-subtitle">How have new media channels changed the pitch/production process?</dt>
    <dd>
        <p>The good news is that these new media channels (and platforms) have given all of us much more opportunity to sell our pitches and projects. Now, instead of just bringing our ideas to the major movie studios and television networks, there are many other buyers interested in original content, such as internet-based companies like Netflix, Amazon Studios, Hulu Original Programming, etc.</p>

        <p>We evaluate every pitch that is submitted to Moviepitch.com, and formulate our strategy based on who we think would be the most likely match for your pitch. And, of course, we will likely take a pitch to numerous buyers... so the odds of getting projects sold and made have improved dramatically.</p>
    </dd>

    <dt class="heading-subtitle">How have pitches changed over time?</dt>
    <dd>
        <p>Good ideas are always valuable, and there really have not been a lot of changes over the years. The studios have changed the most, in that they are now much more interested in "branded" material (basically, any property that the public is already well-aware of.)</p>

        <p>But we have found that people will always be attracted to an original idea, and that original idea can usually find its way to being produced.</p>

        <p>We truly believe that ideas are not "a dime a dozen." Bad ideas are a dime a dozen... whereas good ideas are worth millions.</p>
    </dd>
  </div>
</section>
