<div class="container-fluid">
  <section class="hero">
    <h1><span>The Fresh. The Clever.</span>The High Concept.</h1>

    <div class="hero-boxes">
      <div class="hero-box">
        <div class="hero-video">
          <iframe src="https://player.vimeo.com/video/41812750"/></iframe>
        </div>
      </div>

      <div class="hero-box">
        <div class="hero-signup">
          signup
        </div>
      </div>
    </div>
  </section>

  <section class="how-it-works">
    <action-button class="btn-action" ng-click="navigate()">{{actionText}}</action-button>

    <h2>How it works</h2>

    <div class="hiw-steps row">
      <div class="hiw-step col-md-4">
        <div class="hiw-icon hiw-step-1">
        </div>

        <h3>Sign Up</h3>
        <p>Sign up today and sell your idea to Hollywood.</p>
      </div>

      <div class="hiw-step col-md-4">
        <div class="hiw-icon hiw-step-2">
        </div>

        <h3>Pitch Your Idea</h3>
        <p>Tell the story of what you hope might be a movie.</p>
      </div>

      <div class="hiw-step col-md-4">
        <div class="hiw-icon hiw-step-3">
        </div>

        <h3>Get Reviewed By The Pros</h3>
        <p>One pitch can earn anywhere between $5,000 and $50k.</p>
      </div>
    </div>
  </section>
</div>
