<div class="container-fluid container-content">
  <h1>Meet Our Producers</h1>

  <div class="team-member">
    <img src="img/kosberg.jpg" alt="Bob Kosberg"/>
    <div>
      <h2>BOB KOSBERG</h2>
      <h3>Chairman and Founder of Moviepitch.com</h3>
      <p>Bob is responsible for creative affairs. Bob has broad experience as a film and TV writer and producer. He has sold over 90 film and TV projects during his career with a very active current slate. He has worked as a creative executive and producer at Warner Brothers/Guber-Peters, Paramount, Sony Pictures, Tri-Star, Merv Griffin Entertainment, Constantin Film and Nash Entertainment. He continues to do speaking events all over the world on screenwriting and pitching/selling ideas to Hollywood.</p>
    </div>
  </div>

  <div class="team-member">
    <img src="img/goodman.jpg" alt="Jonas Goodman"/>
    <div>
      <h2>Jonas Goodman</h2>
      <h3>CEO</h3>
      <p>Jonas is responsible for managing all business and creative affairs. Jonas has broad experience as a film, television and new media executive and producer; working for directors (including Alan Pakula, Michael Radford) and production companies inside the studio system and independently (including Front Street Pictures, Miramax, Atlas Entertainment) and building effective collaborations between the film and tech communities.</p>
    </div>
  </div>
</div>
