<div submit-pitch class="container-fluid container-content">
  <h1>Submit a Pitch</h1>
  <select id="genre">
    <option id="" value="Romantic Comedy">Romantic Comedy</option>
    <option id="" value="Comedy">Comedy</option>
    <option id="" value="Drama">Drama</option>
    <option id="" value="Musical">Musical</option>
    <option id="" value="Horror">Horror</option>
    <option id="" value="Adventure">Adventure</option>
  </select>
  <textarea id="pitch" value="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti."></textarea>
  <button type="submit" class="btn btn-primary" ng-click="submitPitch()">Submit Pitch</button>
</div>
