<div pitch-box class="modal-bg">
  <button class="btn close-modal-btn">
    <i class="icon">X</i>
  </button>

  <div class="modal pitch-modal">
    <h2 class="modal-title">Submit Your Pitch</h2>
    <fieldset class="select-wrapper top-radiused">
      <select class="form-control" id="select-genre" ng-model="data.pitchGenre">
        <option ng-repeat="genre in data.genres" value="{{genre}}">{{genre}}</option>
      </select>
    </fieldset>
    <fieldset class="textarea-wrapper">
      <textarea ng-model="data.pitchText" class="form-control" id="pitch-text" rows="8" placeholder="Submit your pitch idea here. Individual pitches should be no more than one or two paragraphs. "></textarea>
    </fieldset>
    <fieldset>
      <label>
        <input type="checkbox">I have read and agree to the <a ui-sref="legal" class="inline-link" target="_blank">terms</a> of this site
      </label>
    </fieldset>
    <span class="validation-notice">{{validationText}}</span>
    <button type="submit" class="btn btn--primary" id="submit-pitch" ng-click="submitPitch($event)">Continue</button>
  </div>
</div>
