
<h2 class="heading heading--section">Success Stories</h2>
<span class="heading-meta">{{index}} of {{length}}</span>

<div class="carousel-container">
  <button class="btn carousel-btn carousel-btn--prev" ng-click="moveCarousel(-1)">Previous</button>
  <button class="btn carousel-btn carousel-btn--next" ng-click="moveCarousel(1)">Next</button>
  <div class="carousel {{carouselClass}}">
    <div class="carousel-item" ng-repeat="story in stories">
      <article class="success-story">
        <div class="success-img"></div>
        <h4 class="success-title">{{story.name}}</h4>
        <p class="success-text">{{story.text}}</p>
      </article>
    </div>
  </div>
</div>
