<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<div class="container-fluid container-content">
  <h1>Login</h1>

  <form>
    <input type="email" placeholder="email"/>
    <input type="password" placeholder="****"/>
  </form>
</div>

<% include ../partials/footer.ejs %>
