<a ui-sref="admin" ui-sref-active="section-nav-link--active" class="section-nav-link">Admin Home</a>
<a ui-sref="admin-register" ui-sref-active="section-nav-link--active" class="section-nav-link">Register Admin</a>
<a ui-sref="admin-notifications" ui-sref-active="section-nav-link--active"  class="section-nav-link">Manage Email</a>
<a ui-sref="admin-unreviewed" ui-sref-active="section-nav-link--active"  class="section-nav-link">Unreviewed Pitches</a>
<a ui-sref="admin-pending" ui-sref-active="section-nav-link--active"  class="section-nav-link">Pending Pitches</a>
<a ui-sref="admin-accepted" ui-sref-active="section-nav-link--active"  class="section-nav-link">Accepted Pitches</a>
<a ui-sref="admin-rejected" ui-sref-active="section-nav-link--active"  class="section-nav-link">Rejected Pitches</a>
<a ui-sref="index" ng-click="logoutAdmin()" class="section-nav-link">Logout</a>