<div class="column">
  <div class="label-wrapper" label-wrapper>
    <input type="text" ng-model="data.name" ng-change="validateName(); btnStateChange()" class="label-wrapper-input" id="contact-name">
    <label class="label-wrapper-label {{labelState}}" for="contact-name">Name</label>
  </div>

  <div class="label-wrapper" label-wrapper>
    <input type="email" ng-model="data.email" class="label-wrapper-input" ng-change="validateEmail(); btnStateChange()" id="contact-email">
    <label class="label-wrapper-label {{labelState}}" for="contact-email">Email</label>
  </div>

  <div class="label-wrapper" label-wrapper>
    <select id="contact-subject" ng-model="data.msgSubject">
      <!-- <option></option> -->
      <option ng-repeat="subject in data.subjects" value="{{subject}}">{{subject}}</option>
    </select>
    <label class="label-wrapper-label label-wrapper-label--out {{labelState}}" for="contact-subject">Choose Subject</label>
  </div>
</div>

<div class="column">
  <div class="message-bubble label-wrapper" label-wrapper>
    <textarea ng-model="data.message" class="label-wrapper-input" id="contact-message" ng-change="validateMsg(); btnStateChange()" rows="8" placeholder="Your message..."></textarea>
  </div>
</div>

<div class="column clear-columns">
  <div class="btn-container">
    <button class="btn btn--primary {{btnState}}" type="submit" ng-click="submitContactForm()">Submit</button>
  </div>
  <div class="alert alert-success {{submitSuccess}}">{{successText}}</div>
</div>
