
$tomato: #ed4f4f;
$dark-tomato: #C43333;

$white: #ffffff;
$off-white: #f4f4f6;
$black-20: rgba(0, 0, 0, 0.2);
$purplish-grey: #726f7d;
$purplish-black: #52505A;
$silver: #c0c0cb;
$charcoal-grey: #3d3b46;
$dark-grey: #232227;
$indian-red: #8e0a0a;
$white-two: #d8d8d8;
$almost-black: #0c0d0e;
$pale-grey: #e5e5ee;
