
$white: #fff;
$black: #000;
$background: #e9eaeb;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=7020u0knTpJen-6jxsRrblcvzgj */

$color-primary-0: #CD3C34;	// Main Primary color */
$color-primary-1: #FF928D;
$color-primary-2: #E6615A;
$color-primary-3: #A92119;
$color-primary-4: #820802;

$color-secondary-0: #CD7C34;	// Main Secondary color (1) */
$color-secondary-1: #FFC28D;
$color-secondary-2: #E69C5A;
$color-secondary-3: #A95D19;
$color-secondary-4: #823E02;

$color-tertiary-0: #21757D;	// Main Tertiary color (2) */
$color-tertiary-1: #5EA2A8;
$color-tertiary-2: #38858C;
$color-tertiary-3: #115F67;
$color-tertiary-4: #02484F;

$color-accent-0: #289F37;	// Main Accent color */
$color-accent-1: #71CD7C;
$color-accent-2: #46B253;
$color-accent-3: #148321;
$color-accent-4: #01650E;
