footer {
  background: $white;
  border-top: solid 1px $pale-grey;
  color: $purplish-grey;
  font-size: 1rem;
  line-height: 2.375;
  padding: 30px 0 15px 0;
  text-align: center;
  vertical-align: baseline;
}
