
// General Sections
.section {
  display: flex;
  min-height: calc(100vh - 182px);
  justify-content: center;
}
.section-content {
  flex: 1 1 auto;
  max-width: 1100px;
  padding: 20px;
}

.section--regular {
  .section-content {
    max-width: 940px;
  }
}
.section-vertical {
  align-items: center;
}

// Specific Sections
.section--hero {
  background-image: url(../img/hollywood-bg.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 800px;
  position: relative;
  &:after {
  	background-image: url(../img/cutout-red.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
  	display: block;
    left: 0;
    height: 5vw;
    max-width: 100%;
    position: absolute;
  	width: 100vw;
  }
}
.section--hiw {
  background: $tomato;
  padding: 60px 0;
}

.section--team {}
.section--team .btn--action {
  margin-top: 100px;
}
.team-member,
.team-title {
  text-transform: uppercase;
}
.team-photo {
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 0 50px $black-20;
  display: block;
  height: 200px;
  margin: 50px auto 0;
  overflow: hidden;
  width: 200px;
  &.team-photo--bob {
	background-image: url(../img/bob.png);
  }
  &.team-photo--jonas {
	background-image: url(../img/jonas.png);
  }
}
.team-member {
  color: $dark-grey;
  font-size: 1.625rem;
  line-height: 1.23;
  margin-bottom: 8px;
}
.team-title {
  color: $silver;
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 1.75rem;
}
.team-text {
  font-size: 1.25rem;
  line-height: 1.7;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  color: $white;
  display: flex;
  flex: 1 0 33%;
  flex-direction: column;
  min-height: 350px;
  padding: 0 50px;
  text-align: center;
}
.flex-item--first {
  padding-left: 0;
}
.flex-item--last {
  padding-right: 0;
}
.flex-item-icon {
  display: block;
  flex: 0 0 auto;
  width: 100%;
}
.flex-item-header {
  flex: 1 1 auto;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.flex-item-content {
  align-self: stretch;
  color: $white;
  flex: 2 2 auto;
  font-size: 1.25rem;
}
.flex-item-link {
  color: $indian-red;
  display: block;
  flex: 0 0 auto;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  width: 100%;
}

.section-nav-link {
  color: $dark-grey;
  display: block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.section-nav-link--active {
  color: $tomato;
}

@media all and (max-width: $tabletMax){
  .section--hero {
    min-height: 550px;
  }
  .flex-item {
    flex: 1 1 100%;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .section-content-nav {
    margin-bottom: 1rem;
  }

  .section-nav-link {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
  }

  .section-nav-link + .section-nav-link {
    border-top: solid 1px $dark-grey;
  }
}

@media all and (min-width: $browserMin){
  .section--stories {
    background-image: linear-gradient($tomato, $tomato 60%, $white 60%, $white);
  }

  .section-content--has-nav {
    display: flex;
  }

  .section-content-nav {
    flex: 2 2 16.6666%;
  }

  .section-nav-link {
    margin-bottom: .5rem;
  }

  .section-nav-link--active {
    color: $tomato;
  }

  .section-content-content {
    flex: 10 10 83.3334%;
    padding-left: 50px;
  }
}