@import 'normalize';

@import 'variables';
@import 'colors';
@import 'typography';

@import 'alerts';
@import 'buttons';
@import 'carousel';
@import 'contact-us';
@import 'fancy-select';
@import 'footer';
@import 'forms';
@import 'headings';
@import 'hero';
@import 'icons';
@import 'modal';
@import 'nav';
@import 'sections';
// @import 'pitch-box';
// @import 'sections';
// @import 'team';

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

.top-radiused {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
// .container-fluid {
//   margin-bottom: 50px;
//   padding-bottom: 3rem;
// }
//
// .container-content {
//   padding: 2rem;
//
//   h1 {
//     margin-bottom: 2rem;
//   }
// }
//
// html {
//   font-size: 100%;
// }
//
// body {
//   background: $background;
// }
//
//
//
// @media all and (min-width: 1100px){
//   .row-centered {
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 1000px;
//   }
// }
//
// // Utilities
//
// .unstyled {
//   list-style-type: none;
//   padding: 0;
//
//   li {
//     margin-bottom: 1rem;
//   }
// }
//
// .clear-outline {
//   outline: none !important;
// }
