@import 'normalize';

@import 'variables';
@import 'colors';
@import 'typography';

@import 'alerts';
@import 'buttons';
@import 'carousel';
@import 'contact-us';
@import 'fancy-select';
@import 'footer';
@import 'forms';
@import 'headings';
@import 'hero';
@import 'icons';
@import 'modal';
@import 'nav';
@import 'sections';
// @import 'pitch-box';
// @import 'sections';
// @import 'team';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  margin: 0;
}

.top-radiused {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

@media all and (max-width: $tabletMax){
  html {
    font-size: 85%
  }
  body {
    font-size: 14px;
  }
}
