.btn-action {
  background: $color-accent-0;
  border-radius: 10px;
  color: $white;
  cursor: pointer;
  display: block;
  font-weight: 300;
  margin: 1rem auto 3rem auto;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.35s;
  width: 280px;

  &:hover {
    background: $color-accent-1;
    color: $white;
  }
}

.btn-primary {
  @extend .clear-outlines;
  background-color: $color-accent-0;
  border-color: $color-accent-0;

  &:hover {
    background-color: $color-accent-1;
    border-color: $color-accent-1;
  }

  &:focus,
  &:active {
    background-color: $color-accent-2;
    border-color: $color-accent-2;
  }
}

[type="submit"]{
  float: right;
}
