.btn-action {
  background: $color-accent-0;
  border-radius: 10px;
  color: $white;
  display: block;
  font-weight: 300;
  margin: 1rem auto 3rem auto;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.35s;
  width: 240px;

  &:hover {
    background: $color-accent-1;
    color: $white;
  }
}
