textarea {
  color: lighten($black, 5%);
  font-family: 'Roboto';
  font-weight: 300;

  letter-spacing: 0.2px;
  padding: 10px;
}

.input-group {
  margin-bottom: .75rem;
  width: 100%;

  input,
  select,
  textarea {
    display: block;
    width: 100%;
  }
}

label {

  input {
    display: inline-block;
    margin: 0 10px 20px 0;
  }
}

.input-group-addon {
  transition: all 0.35s;
}

.input-group-addon.is-error {
  background: $color-primary-2;
  color: $white;
}

// Alerts
.alert.alert-hidden {
  display: none;
}

.alert-danger {
  background: $color-primary-3;
  border-color: $color-primary-4;
  color: $white;
}

.registration-alerts {
  .alert {
    display: none;
  }

  .alert.show-alert {
    display: block;
  }

  .input-group-addon.show-alert {
    background: $color-primary-3;
    color: $white;
  }
}
