.input-group {
  margin-bottom: .75rem;
}

.input-group-addon {
  transition: all 0.35s;
}

.input-group-addon.is-error {
  background: $color-primary-0;
  color: $white;
}

// Alerts
.alert.alert-hidden {
  display: none;
}
