
section {
  border-bottom: solid 1px darken($background, 10%);
  padding: 1.875rem 0px;

  h2 {
    color: $color-primary-0;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

@media all and (min-width: 769px){
  section {
    padding: 1.875rem 20px;
  }
}

.hero {
  background-image: url('../img/bannerbg.jpg');
  background-position: center center;
  background-size: cover;
  font-size: 10px;
  min-height: 400px;
  padding-top: 2rem;
  padding-bottom: 4rem;
  width: 100vw;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  line-height: 1.1;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.hero h1 span {
  display: block;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.hero-boxes {
  display: flex;
  margin: 2rem auto;
  width: 80%;

  // > div {
  //   margin: 0 2rem;
  //   padding: 0;
  // }
}

.hero-box {
  flex: 1 1 auto;
}

.hero-video {
  height: 0;
  margin-bottom: 2rem;
  padding-bottom: 50%;
  position: relative;
  width: 100%;

  iframe {
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.how-it-works {


}

.hiw-steps {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hiw-step {
  padding: 0 1rem 3rem 1rem;
  text-align: center;

  h3 {
    color: $color-primary-0;
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
}

.hiw-step-1 {
  background: url('../img/step1.png');
}
.hiw-step-2 {
  background: url('../img/step2.png');
}

.hiw-step-3 {
  background: url('../img/step3.png');
}

.hiw-icon {
  background-size: 100% auto;
  height: 170px;
  margin: 0 auto 20px auto;
  width: 170px;
}

@media all and (max-width: 768px){
  .hero h1 span {
    font-size: 2rem;
  }


  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}
