@import 'fonts';
@import 'typography';
@import 'colors';

@import 'buttons';
@import 'forms';
@import 'hero';
@import 'nav';
@import 'team';
@import 'footer';

.container-fluid {
  display: block;
}

.container-content {
  padding: 2rem;

  h1 {
    margin-bottom: 2rem;
  }
}

html {
  font-size: 100%;
}

body {
  background: $background;
}

dd, dt, p {
  max-width: 768px;
}

dt {
  margin-bottom: 1rem;
}

dd {
  margin-bottom: 2rem;
}

// Utilities

.clear-outline {
  outline: none !important;
}
