@import 'fonts';
@import 'colors';
@import 'typography';

@import 'buttons';
@import 'forms';
@import 'hero';
@import 'modal';
@import 'nav';
@import 'pitch-box';
@import 'sections';
@import 'team';
@import 'footer';

.container-fluid {
  display: block;
  padding-bottom: 3rem;
}

.container-content {
  padding: 2rem;

  h1 {
    margin-bottom: 2rem;
  }
}

html {
  font-size: 100%;
}

body {
  background: $background;
}



@media all and (min-width: 1100px){
  .row-centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
}

// Utilities

.unstyled {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 1rem;
  }
}

.clear-outline {
  outline: none !important;
}
