<header class="header" app-header></header>

<section ng-controller="AdminController" class="section section--regular">
  <div class="section-content section-content--has-nav">
    <div class="section-content-nav" ng-include src="'views/subviews/admin-nav.html'"></div>

    <div class="section-content-content">
      <!-- List All Pitches -->
      <div admin-pitch-list data-status="rejected" class="card-columns card">
        <h3 class="card-heading">Rejected Pitches</h3>
        <div admin-pitch ng-repeat="pitch in pitches" class="card" data-id="{{pitch._id}}">
          <div class="pitch-genre">{{pitch.genre}}</div>
          <p>{{pitch.pitchText}}</p>
          <div class="btn-container">
            <button class="btn js-accept-rejected-pitch">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>